<h1>bundles</h1>

<table class="table">
  <%= for bundle <- @bundles do %>
    <tr>
      <td><%= bundle.id %></td>
      <td><%= bundle.name %></td>
      <td><%= link "Edit", to: bundle_path( @conn, :edit, bundle.id ) %></td>
    </tr>
  <% end %>
</table>
